* {
  background-color: rgb(76, 3, 3);
  align-items: center;
  justify-content: center;
  height: 50vh;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  overflow: hidden;
  text-align: center;
}
